
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<style>

    .container {
        position:relative;
        height:300px;
        width:400px;
        left:760px;
        top:350px;
        font-size:30px;
        text-transform:uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: cadetblue;
        color: white;
    }

</style>

<div class="container">
    <h2>Something WRONG!!!</h2>
</div>

